* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    outline: none;
}

body {
    background: #8A51FC;
}

.logo {
    width: 300px;
    height: 300px;
    display: block;
    margin: 20px auto;
}

.painel {
    width: 375px;
    background: #F4F4F4;
    border-radius: 20px;
    margin: 0 auto 40px;
    padding: 44px 24px 23px;
}

label {
    color: #777777;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}

select, input {
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    border-radius: 4px;
    height: 48px;
    width: 100%;
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: #555555;
    padding-left: 18px;
    cursor: pointer;    
}

input {
    cursor: text
}

button {
    width: 100%;
    height: 48px;
    background: #772FD3;
    border-radius: 5px;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.6;
}

section {
    border: 1px solid #772FD3;
    border-radius: 20px;
    margin-top: 36px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.arrow {
    margin: 15px 0;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.currency {
    font-weight: 400;
    font-size: 14px;
    color: #777777;
}

.value {
    color: #555555;
    font-weight: 700;
    font-size: 20px;
}

@media screen and (max-width: 700px) {
    .logo {
        display: none;
    }

    .painel {
        margin: 0;
        width: 100%;
        height: 100vh;
        border-radius: 0;
    }
}